* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}

.projectContainer {
  position: relative;
  width: 100%;
  display: table;
}

.portfolioImage {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.projectLink {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.projectContainer:hover .portfolioImage {
  opacity: 0.3;
}

.projectContainer:hover .projectLink {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.portfolioRow {
  margin: 8px -16px;
  display: table-cell;
}

/* Add padding BETWEEN each column */
.portfolioRow,
.portfolioRow > .portfolioColumn {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.portfolioColumn {
  float: left;
  width: 25%;
}

/* Clear floats after rows */ 
.portfolioRow:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.portfolioContent {
  background-color: white;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .portfolioColumn {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .portfolioColumn {
    width: 100%;
  }
}