/* All colour hexs sourced from */ 
/* http://paletton.com/#uid=12g0u0kllllaFw0g0qFqFg0w0aF */
html {
	height: 100%;
}
/* Body styling */
body {
	padding: 0;
	margin: 0;
	font-family: 'Archivo Narrow', sans-serif;
	min-height: 100%;
	position:relative;
}

/* Code that is essential for the footer position at the bottom for webpage */
body::after{ content:''; display:block; height:230px; }

/* Company header */
.logo {
	background-color: #D4EE9F;
	padding: 10px;
}
header {
	margin-left: 200px;
	font-family: 'Ultra', serif;
}
/* Navigation style code */
#navigation {
	background-color: #799E35;
}
ul {
	list-style-type: none;
	margin: 0px 0px 0px 200px;
	padding: 0;
	overflow: hidden;
}

#navigation li {
  float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a.active {
  color: white;
  background-color: #3B5000;
}
/* End of navigation code */

/* Image width */
img {
	height: 300px;
	max-width: 100%;
}
#sevicesImage img {
	display: block;
	margin: auto;
}

/* Website content */	
.content {
	margin: 1% 20% 0 20%;
}

/* Footer content */
.footer-content {
	height: 100px;
	margin-left: 20%;	
	text-align: center;
}
/* Footer background */
footer {
	height: 50px;
	background-color: #D4EE9F;
	bottom: 0;
	position:absolute; 
	width: 100%;
}

